
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" #userform="ngForm" (ngSubmit)="register()">

                  <div class="d-flex flex-row align-items-center mb-4" *ngIf="!success">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="username">Username:</label>
                      <input type="text" name="username" id="username" required #usernameControl="ngModel" [(ngModel)]="username" class="form-control" />
                      <p *ngIf="usernameControl.touched && usernameControl.invalid">Username required</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4" *ngIf="!success">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Email:</label>
                      <input type="email" id="form3Example3c" name="Email" autocomplete="on" required #EmailControl="ngModel" [(ngModel)]="Email" class="form-control" />                     
                      <p *ngIf="EmailControl.touched && EmailControl.invalid">Email required</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Password:</label>
                      <input type="password" id="form3Example4c" name="password" autocomplete="on" required #passwordControl="ngModel" [(ngModel)]="password" class="form-control" />
                      <p *ngIf="passwordControl.touched && passwordControl.invalid">Password required</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4" *ngIf="!success">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="phone">Mobile Number:</label><br>
                      <input type="tel" name="phone" id="phone" autocomplete="on" required #phoneControl="ngModel" [(ngModel)]="phone" />
                      <p *ngIf="phoneControl.touched && phoneControl.invalid">Phone Number required</p>
                    </div>
                  </div>

                  <p *ngIf="userform.invalid && onClick">Enter the correct credentials</p>
                  <p *ngIf="userexist">UserAlready exists</p>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button [disabled]="!userform.valid" type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="success">LogOut to register new user</h1>
</section>