<h1 *ngIf="success">WishList Books</h1>
<div *ngIf="success" class="container">
    <div *ngFor="let ele of wishListElements" class="row rowElement">
        <div  class="col-4 book text-md-start mt-5">
            <p>Title:{{ele.title}}</p>
            <p>Author:{{ele.author}}</p>
            <p>Language:{{ele.language}}</p>
            <p>Pages:{{ele.pages}}</p>
            <p>Year:{{ele.year}}</p>
            <p>Country:{{ele.country}}</p>
        </div> 
    </div>
</div>
<h1 *ngIf="!success">Login to see your wishlist</h1>
